@import 'partials/reset';
@import 'partials/homepage';
@import 'partials/login';
@import 'partials/variables';
@import 'partials/app';
@import 'partials/navigator';


.imgClass {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.itemContainer {
}

.itemTitle {
}

.logo {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.menu {
  a {
    text-decoration: none;
    color: cyan;
  }
}

.ulMenu {

}

.logoMenu {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.dropdown {

}

.dropdownOption {

}

.searchButton {

}

.navigatorContainer {

}

.navigatorHeader {

}

.navigatorBody {

}
