.imgClass {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.homepageContainer {

}



.ulMenu {

}

.ItemContainerWrapper {

}

.ItemContainer {

}

.image {

}

.itemTitle {

}

.itemDescription {

}
