
.homepageContainer {

}



.ulMenu {

}

.ItemContainerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ItemContainerHorizontal {
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.24);
background-color: white;
border-radius: 4px 4px 0px 0px;
width: 15em;
padding-bottom: 1em;
margin: 4em 2em;
text-align: center;
flex-grow: 0;
  img {
    object-fit: cover;
    width: 100%;
    height: 15em;
    border-radius: 4px 4px 0px 0px;
  }
}

.ItemContainerVertical {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.24);
  background-color: white;
  border-radius: 4px 4px 0px 0px;
  width: 10em;
  padding-bottom: 1em;
  margin: 4em 2em;
  text-align: center;
  flex-grow: 0;
    img {
      object-fit: cover;
      height: 15em;
      width: 100%;
      border-radius: 4px 4px 0px 0px;
    }
}



.itemDescription {
  //todo
}
