.loginButton {
  height: 5em;
  width: 5em;
  border: 2.5px solid black;
  border-radius: 2em;
  opacity: 1;
  width: 50%;
  position: relative;
  left: 25%;

}

.loginWrapper {
  background-color: red;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('http://i.imgur.com/5LpcOWs.jpg');
}

.loginContainer {
  background-color: white;
  width: 40vw;
  height: 50vh;
  position: absolute;
  left: 30vw;
  top: 25vh;
  opacity: 0.75;
  border-radius: 1em;
}
