//Navbar

.navigatorHeader {
display: flex;
align-items: center;
justify-content: space-between;
background-color: #2F3241;
width: 100%;
height: 12vh;
padding: 0.4em;
}

// Navbar menu

.logoMenu {
  padding: 2vw;
  height: 5.5vh;
  cursor: pointer;
}

.menu {
display: none;
}

// Logo

.logo {
  display: flex;
  align-items: center;
  .logo_img {
    padding-left: 1.3vw;
    height: 11.5vh;
  }
  .logo_logotype {
    height: 2.5vh;
    padding-left: 1vw;
  }
}

.navigatorContainer {

}



.navigatorBody {
  background-color: #EFEFEF;
  height: 289px;
  width: 100vw;
}

.searchInputForm{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 115px;

  .inputField {
  // background: #979797;
  width: 50%;
  height: 29px;
  border: 0.2px solid #979797;
  box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.20), 0px 3px 2px 0px rgba(0,0,0,0.12);
  border-radius: 3px;
  }
  .dropdown {
    border-radius: 3px 0px 0px 3px;
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #EFF1F4 100%);
    box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.12);
    height: 32px;
    .dropdownOption {

    }
  }
  .searchButton {
    background-color: #2F3241;
    box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.12);
    color: white;
    height: 32px;
    border-radius: 3px;
  }
}
